.form-login {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 70px 50px;
    margin: auto;
    width: 400px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  }