.auth-layout-wrapper {
  min-height: fit-content;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background: url('https://images.ctfassets.net/wy4h2xf1swlt/asset_63256/116b0576c45691f96b78d8d6f85dd314/iStock-862477938.jpg');
  width: 100%;
  min-height: 100vh;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

